body
{
	margin: 0;
}

/*.form
{
	border: blue dotted 1px;
}*/

.flex-container
{
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.form 
{
	
}

/*h1
{
	font-family: Arial;
	font-weight: 900;
	font-size: 40px;
	padding: 15px 40px;
	background: #4A76A8;
	margin-top: 0;
	color: white;
}*/

.header
{
	margin-bottom: 30px;
}

input
{
	border-radius: 5px;
	float: right
}

textarea
{
	height: 120px;
	width: 95%;
	padding: 5px;
	margin: 8px 0;
	border-radius: 5px;
}

